@import '../../../styles/variables.scss';

.card {
    filter: drop-shadow(.2rem .2rem .4rem rgba($black, .25));
    
    position: absolute;

    top: calc(100% + 1.5rem);
    right: 10%;

    & > div {
        background-color: $white;

        min-width: 17rem;

        border-radius: .5rem;

        position: relative;

        &::before {
            content: '';

            display: block;

            height: 1.5rem;
            width: 2rem;

            position: absolute;

            right: .5rem;
            top: -1.5rem;

            background-color: $white;

            clip-path: polygon(50% 0, 0% 100%, 100% 100%);
        }
    }

    .list {
        list-style: none;

        li {
            font-size: 1.4rem;
            text-align: left;
            color: $text;

            padding: 1.5rem 2rem;

            position: relative;

            &:hover {
                background-color: rgba($income, 0.1);

                font-weight: 500;
                color: $income;

                cursor: pointer;

                &::before {
                    content: '';

                    display: block;

                    position: absolute;

                    left: 0;
                    top: 0;

                    height: 100%;
                    width: .2rem;

                    background-color: $income;
                }
            }
        }
    }
}